
/*mise en page générale*/

/*mise en place de la police*/
@font-face {
    font-family: 'Raleway';
    src: url('polices/Raleway-VariableFont_wght.ttf');
}
body {
    font-family: Raleway, Arial;
}


/*taille des polices_ à revoi*/
h1 {
    font-size: 1.5em;
    font-weight: bold;
}

h2 {
    font-size: 1.2em;
    font-weight: bold;
}

h3 {
    font-size: 1em;
    font-weight: normal;
}

.prix {
    font-weight:bold;
}

#bloc_page {
    width:1440px;
}

/*mise en page du header*/

header {
    height: 130px;
    border: solid 1px black;
    display: flex;
    margin-left: 45px;
    margin-right: 45px;
}

.ancre {
    border: solid 1px red;
    margin-top: auto;
    margin-bottom: auto;
    width:138px;
    flex:1.1;
}

.ancre p {
        border: dotted 1px blue;
        margin:auto;
        text-align:center;
    }

/*pourquoi taille image ne fonctionne pas*/
#logo_reservia {
    width: 94px;
    height: auto;   
}

#bloc_logo {
    border: solid 1px red;
    margin-top: auto;
    margin-bottom: auto;
    flex:5.7;
    
}

header a {
    text-decoration:none;
    color:black;
    
}

.ancre:hover {
    border-top: 2px solid #0065FC;
    
}

header a:hover {
    color: #0065FC;
}

#sinscrire {
    color: #0065FC;
    font-weight: bold;
    border: solid 1px red;
    margin-top: auto;
    margin-bottom: auto;
    width:138px;
    text-align:center;
    flex:1.1;
}

/*fin mise en place header*/

/*mise en place du bloc titre*/

#bloc_titre {
    margin-left: 45px;
    margin-right: 45px;
}


/*mise en place recherche par lieu*/

#bloc_button {
    margin-left: 45px;
    margin-right: 45px;
}

#search_button {
    display: flex;
    height: 50px;
    border: solid 2px #F2F2F2;
    border-radius: 20px;
}

#button {
    background-color: #0065FC;
    color: white;
    height: 50px;
    border-top-right-radius: 20px;
    border-bottom-right-radius: 20px;
    border: solid 1px #0065FC;
}

#where {
    font-weight: bold;
    color: black;
    border-top: 2px solid #F2F2F2;
    border-bottom: 2px solid #F2F2F2;
    border-left:none;
    border-right:none;
    height:50px;
}

#essai-label {
    background-color: #F2F2F2;
    height:50px;
    width:50px;
    border-top-left-radius: 20px;
    border-bottom-left-radius: 20px;
}


/*fin mise en place recherche par lieu*/

/*mise en place des filtres*/

/*mise en place des icones*/

#bloc_filtres {
    display: flex;
    margin-top: 30px;
    margin-left: 45px;
    margin-right: 45px;
}

.icon {
    color: #0065FC;
    font-size: 1.4em;
    background-color: #DEEBFF;
    height: 50px;
    width: 50px;
    border-radius: 50px;
    text-align: center;
}


.filtres {
    display: flex;
    margin-left:20px;
    border: 1.5px solid #F2F2F2;
    border-radius: 50px;
    height: 50px;
  
}

.texte_filtre {
    padding-left:10px; 
    padding-right:15px;
}

/*ligne attention*/
#attention {
    display: flex;
    border: solid 1px black;
    margin-left: 45px;
    margin-right: 45px;
}

#icon_attention {
    color: #0065FC;
    border: 1px solid #F2F2F2;
    border-radius: 50%;
    height:25px;
    width:25px;
}

/*mise en place section 1*/

#section1 {
    display:flex;
    margin-left:45px;
    margin-right:45px;
}

.stars {
    display:flex;
}

.blue-star {
    font-size: 1em;
    color: #0065FC;
}

.grey-star {
    font-size: 1em;
    color: #F2F2F2;
}

#hebergements {
    
    background-color: #F2F2F2;
    border-radius:15px;
    margin-right:20px;
    margin-left:0px;
    padding-right:18px;
    padding-left:18px;
}

#bloc_hebergements {
    display: flex;
    flex-wrap: wrap;
}

/*test vignette hébergement 1 avec image en background*/
#vignette_hebergement_1 {
    background: url('images/hebergements/auberge_la_cannebiere.jpg') no-repeat;
}

.vignette_hebergement {
    background-color: #FFFFFF;
    box-shadow: 1px 1px 12px #C0C0C0;
    width: 245px;
    border-radius: 15px;
    padding: 5px;
    margin: 15px;
}
#populaires {
    background-color: #F2F2F2;
    border-radius: 15px;
    margin-left: 20px;
    margin-right: 0px;
    padding-right: 18px;
    padding-left: 18px;
}

#titre_populaire {
    display:flex;
    justify-content:space-between;
}

#bloc_populaire {
    display: flex;
    flex-direction: column;
    justify-content: space-around; /*ne donne pas l'effet voulu*/
}

.vignette_populaire {
    display: flex;
    background-color: #FFFFFF;
    box-shadow: 1px 1px 12px #C0C0C0;
    border-radius: 15px;
    padding: 5px;
    margin: 15px;
    width: 340px;
}

/*mise en place section activité*/

#activites {
    margin-left: 45px;
    margin-right: 45px;
    border: 1px dotted red;
}

#bloc_activite {
    display: flex;
    flex-wrap: wrap;
    justify-content: space-between;/*ne donne pas l'effet voulu*/
    border: 1px dotted violet;
}

#column1, #column2, #column3, #column4 {
    flex:1;
}

#column2, #column4 {
    display:flex;
    flex-direction:column;
}

#vignette_activite_1, #vignette_activite_2, #vignette_activite_3, #vignette_activite_4, #vignette_activite_5, #vignette_activite_6 {
    width: 300px;
    border-radius: 15px;
    box-shadow: 1px 1px 12px #F2F2F2;
    margin-top:20px;
    margin-bottom:20px;
}

#vignette_activite_1, #vignette_activite_4 {
    height:445px;
}

#vignette_activite_2 {
    flex:2;
}

#vignette_activite_3 {
    flex:1;
}

#vignette_activite_5, #vignette_activite_6 {
    flex:1;
}

/*taille des images à revoir*/
.images_hebergements {
    width: 230px;
    height: 114px;
}

.images_populaires {
    width:127px;
    height:133px;
}

.images_activites {
    width: 127px;
    height: 100px;
}



/*mise en page du footer*/

footer {
    background-color: #F2F2F2;
    display:flex;
    height:220px;
}

#a_propos {
    border: solid 1px black;
    width:400px;
    margin-left:45px;
}

#nos_hebergements {
    border: solid 1px black;
    width: 400px;
    margin-left: 45px;
}

#assistance {
    border: solid 1px black;
    width: 400px;
    margin-left: 45px;
}

ul {
    list-style-type: none;
    padding-left: 0px;
}

li {
    margin-top:10px;
}
